*{
    background-color: #bdd1c5 ;
}

img{
    max-width: 100%;
}



.destination img{
    background-color: #ffffff;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

h1, h2, h3{
    text-align: center;
}

h3{
    background-color: #ffffff;
    cursor: pointer;
}

button{
    background-color: #596f62;
    color: #bdd1c5;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}