* {
    background-color: #bdd1c5;
}

img {
    max-width: 100%;
}



.lodging img {
    background-color: #ffffff;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


.lodging-choices {
    width: 10%;
    Height: 5%

}

h1,
h2 {
    text-align: center;
}

h3 {
    text-align: left;
}

button {
    background-color: #596f62;
    color: #bdd1c5;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}